/* Fonts */
@font-face {
  font-family: "CallingCode";
  src: url(/Font/CallingCode-Regular.ttf);
}

body {
  font-family: "CallingCode" Arial, Helvetica, sans-serif;
}
.logo{
    height: 60px;

}

@media screen and (max-width : 768) {
  .beeImg img{
    height: 100px !important; 
    width: 300px !important;
  }
}